In [1]:
from parser import Parser
from demoparser2 import DemoParser

In [2]:
parser: DemoParser = DemoParser("heroic-vs-3dmax-m1-dust2.dem")
parser_attributes = ["total_rounds_played"]
bomb_defused = parser.parse_event(
    "bomb_defused", other=parser_attributes
)
bomb_planted = parser.parse_event(
    "bomb_planted", other=parser_attributes
)

In [16]:
round = bomb_defused['total_rounds_played'].iloc[0]
end_t = bomb_defused[bomb_defused['total_rounds_played'] == round].iloc[0]['tick']
start_t = bomb_planted[bomb_planted['total_rounds_played'] == round].iloc[0]['tick']

In [24]:
ATTRIBUTES = ["team_name", "is_alive"]
TRACE_ATTRIBUTES = ["last_place_name", "tick"]

df = parser.parse_ticks(
    ATTRIBUTES + TRACE_ATTRIBUTES,
    ticks=range(int(start_t), int(end_t + 1)),
)
df

      last_place_name  team_name  is_alive   tick            steamid      name
0              UnderA         CT     False  46152  76561198013295375     bodyy
1              Middle         CT      True  46152  76561198179538505   Graviti
2               ARamp  TERRORIST     False  46152  76561198104626893       LNZ
3           BombsiteA  TERRORIST      True  46152  76561198161056567      nilo
4           BombsiteA         CT     False  46152  76561198168198200  Ex3rcice
...               ...        ...       ...    ...                ...       ...
21285       BombsiteA         CT      True  48280  76561198031890115     Lucky
21286           ARamp  TERRORIST     False  48280  76561199137143905  yxngstxr
21287           LongA  TERRORIST     False  48280  76561199079856901   Alkaren
21288           LongA         CT     False  48280  76561198045739761      Maka
21289           ARamp  TERRORIST     False  48280  76561198178209109    xfl0ud

[21290 rows x 6 columns]